@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hanken+Grotesk:wght@500;700;800&family=Inter&display=swap');
:root {
    --primary-color: #795AAC;
    --button : #999DEE;
    --Background: #E9E9E9;
    --text: White;
    --font: 'Han ken Grotesk', sans-serif;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;

    /*display: inline-block;*/
    background: var(--Background);
    border-radius: 30px;
    word-wrap: break-word; 
    white-space: normal; 
    min-width: 50px;
    max-width: 90%; 
    float: right;
    align-items: right;
  }
  

  
  .box > p {
    font-family: var(--font);
    font-size: 1.1em;
    font-weight: 400;
    color: black; 
  }
  