@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hanken+Grotesk:wght@500;700;800&family=Inter&display=swap');

:root {
    --primary-color: #795AAC;
    --button: #999DEE;
    --Background: #E9E9E9;
    --text-color: White;
    --text: 'Han ken Grotesk', sans-serif;
}

.container {
    width: 450px;
    height: 600px;
    border: 1px solid red;
    position: absolute;
    top: 53%;
    left: 45%;
    transform: translate(100%, -40%);
    background-color: var(--Background);
    border-radius: 10px;
}

.container .top {
    width: 95%;
    height: 8%;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 1px solid blue;
    background-color: var(--text-color);
}

.container .top .left {
    width: 5%;
    height: 100%;
}

.container .top .right {
    width: 90%;
    height: 100%;
}

.container .top .btn {
    width: 5%;
    height: 100%;
    align-items: center;
    font-size: 30px;
}

.container .top .right > p {
    font-family: var(--text);
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px 0px 10px 50px;
}

.container .middle {
    width: 95%;
    height: 87%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    display: flex;
    flex-direction: row;
    background-color: var(--text-color);
}

.container .middle .left {
    width: 17%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
}


.container .middle .left .image {
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.container .middle .left .image > img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.container .middle .left .image > p {
    font-size: 1.7em;
    text-align: center;
    word-wrap: break-word;
    margin-top: 8px;
}
.container .middle .right {
    width: 83%;
    height: 100%;
    border: 1px solid rgb(210, 30, 30);
    background-color: aliceblue;
}



.container .middle .right .up {
    width: 100%;
    height: 90%;
    border: 1px solid black;

}

.container .middle .right .down {
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .middle .right .down > input {
    width: 76%;
    height: 60%;
    border-radius: 20px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
}

.container .middle .right .down > button {
    margin: auto;
    width: 20%;
    height: 60%;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--text-color);
}
