/* hero section */
.hero-section {
    /* border: 2px solid black; */
    width: 100%;
    height: 400px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 130px 30px; */
}

.hero-section::before {
    content: "";
    background: url('../images/shop_page_logo.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.80;
}

.hero-section h1 {
    margin: 5px;
}

.hero-section p {
    margin: 5px;
}


.product-cards {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.product-cards>a {
    text-decoration: none;
    color: black;
}

.button {
    width: fit-content;
    font-family: var(--font-family);
    border-radius: 5px;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 38px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
}
.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
}
.container{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}